<!-- show the question that user selcted -->
<div class="container" id="question-block">
  <h2>Here's my question bro: <%= @question.title %></h2>
  <h4><%= @question.body %></h4>
  <p> Created by Bro: <%= @question.user.username %> on <%= @question.created_at %>. </p>
  <div>
    <% @question.comments.each do |comment| %>
      <p><%= comment.user.username %> commented: <%= comment.body %></p>
    <% end %>
  </div>
  <% if logged_in? %>
    <div class="container" id="question-comment-block">
        <form method="post" action="/questions/<%= @question.id %>/comments">
          Comment this q, Brosepher:
          <input type="text" name="body" placeholder="bro, elaborate that shit!">
          <input type="submit" value="bro, thanks bro!">
        </form>
    </div>
  <% end %>
</div>
<!-- total votes -->
<!-- if logged in? comments form -->
<!-- if user created?  edit, delete -->
<!-- display question comments -->
<!-- total votes -->
<!-- if logged in? up/down vote(only 1 vote) -->
<!-- if user created?  edit, delete -->

<!-- display all answers -->
<div class="container" id="answer-block">
  <h3> Bro Answers </h3>
  <% if @error %>
    <p class="error"><%= @error %></p>
  <% end %>
  <% @question.answers.each do |answer| %>
  <span><%= answer.total_votes %></span>
  <% if logged_in? %>
    <form method="post" action='/answers/<%= answer.id %>/vote' class="inline">
      <input type="submit" name="upvote" value="+1 lite beer">
    </form>
    <form method="post" action='/answers/<%= answer.id %>/vote' class="inline">
      <input type="submit" name="downvote" value="-1 lite beer">
    </form>
  <% end %>  <li> <%= answer.body %> </li>
  <p> Answered by <%= answer.user.username %> bro</p>
    <div>
      <% answer.comments.each do |comment| %>
        <p><%= comment.user.username %> commented: <%= comment.body %></p>
      <% end %>
    </div>
    <% if logged_in? %>
      <div class="container" id="answer-comment-block">
        <form method="post" action="/questions/<%= @question.id %>/answers/<%= answer.id %>/comments">
          Comment this a, dogg:
          <input type="text" name="body" placeholder="bro, elaborate that shit!">
          <input type="submit" value="bro, thanks bro!">
        </form>
      </div>
    <% end %>
  <% end %>
</div>
<!-- total votes -->
<!-- if logged in? up/down vote(only 1 vote), comments form -->
<!-- if user created?  edit, delete -->

<!-- display answer comments -->
<!-- total votes -->
<!-- if logged in? up/down vote(only 1 vote) -->
<!-- if user created?  edit, delete -->

<!-- if user loggedin? -->
<% if logged_in? %>
<!-- add answer form -->
<div class="container" id="new-answer-form">
  <br>
  <form method="post" action="/questions/<%= @question.id %>/answers">
    Add Answer Brosef:
    <input type="text" name="body" placeholder="bro, help a bro out!">
    <input type="submit" value="bro, thanks bro!">
  </form>
</div>
<% end %>


