<% if logged_in? %>
  <div id="new-q">
    <h3><a id="q-link" href="/questions/new">Ask a new question, bro..</a></h3>
  </div>
<% end %>

<div id="homepage-shtuff">
    <div id='question'>
      <% if @error %>
        <p class="error"><%= @error %></p>
      <% end %>

    <% @questions.each do |question| %>
    <article>
          <a href='/questions/<%= question.id %>'><%= question.title %></a> <span id="vote_total"><%= question.total_votes %></span><br>

      <%= erb :"_votes", locals: {question: question} %>
    </article>
    <% end %>

    </div>
</div>

