<div id="homepage-shtuff">
  <div class="container">
    <div>
      <% if @error %>
        <p class="error"><%= @error %></p>
      <% end %>
        <% Question.all.each do |question| %>
          <a href='/questions/<%= question.id %>'><%= question.title %></a> <span><%= question.total_votes %></span><br>
      <% if logged_in? %>
        <form method="post" action='/questions/<%= question.id %>/vote' class="inline">
          <input type="submit" name="upvote" value="+1 lite beer">
        </form>
        <form method="post" action='/questions/<%= question.id %>/vote' class="inline">
          <input type="submit" name="downvote" value="-1 lite beer">
        </form>
      <% end %>

      <% end %>
    </div>

    <% if logged_in? %>
      <div class="container">
        <a href="/questions/new">Ask a new question, bro..</a>
      </div>
    <% end %>
</div>
