<div class="container">
  <div>
        <% if @error %>
          <p class="error"><%= @error %></p>
        <% end %>
    <% Question.all.each do |question| %>
        <a href='/questions/<%= question.id %>'><%= question.title %></a> <span><%= question.total_votes %></span><br>
        <% if logged_in? %>
          <form method="post" action='/questions/<%= question.id %>/vote' class="inline">
            <button type="submit" name="upvote" value="upvote"></button><span> +1 lite beer</span>
          </form>
          <form method="post" action='/questions/<%= question.id %>/vote' class="inline">
            <button type="submit" name="downvote" value="downvote"></button><span> -1 lite beer</span>
          </form>
        <% end %>

    <% end %>
  </div>
</div>

<div class="container">
  <a href="/questions/new">Ask a new question, bro..</a>
</div>

