<div id="homepage-shtuff">
  <div class="container">
    <div>
      <% if @error %>
        <p class="error"><%= @error %></p>
      <% end %>
        <% @questions.each do |question| %>
          <a href='/questions/<%= question.id %>'><%= question.title %></a> <span><%= question.total_votes %></span><br>
    <%= erb :"_votes", locals: {question: question} %>
  <% end %>
    </div>

    <% if logged_in? %>
      <div class="container">
        <a href="/questions/new">Ask a new question, bro..</a>
      </div>
    <% end %>
</div>
